@import "colors";
@import "fonts";

//Functions
@function change-brightness($color, $percent) {
  @return mix(black, $color, $percent);
}

// Controles de Flujo -> if | else

//DARK MODE
$dark-mode: true;

body {
  margin: 0;
  font-family: "bg_font";
  @if $dark-mode {
    background-color: $dark;
    color: $light;
  } @else {
    background-color: $light;
    color: $dark;

    footer{
      color: $light;

    }
  }
}


.cv {
  padding: 10vh 15%;

  //General

  ul{
    list-style: none;
  }

  .link {
    text-decoration: none;
    transition: color 1s ease;
  }

  //Extend
  .mail-link{
    @extend .link;
    color: $light;

    &:hover {
        color: $main;
    }
  }

  //Mixins
  @mixin beautify-items{
    background-color: $main;  
    padding: 5px 15px;        
    border-radius: 5px;                   
    font-size: .8rem;           
    font-weight: bold;         
    text-align: center;      
    flex: 1 1 50px;  
    transition: transform 0.3s ease, padding 0.3s ease; 

    &:hover {
      transform: scale(1.1); 
      padding: 10px 20px;    
    }
    
  }

  .items-list{
    display: flex;        
    flex-wrap: wrap;        
    justify-content: space-between;  
    padding: 0;
    list-style: none; 
    gap: 15px; 

    & > li{
      @include beautify-items;
    }

  }

  .dates{
    text-align: right;
    color: $main;
  }

  .data-summary {
    color: change-brightness($lg-gray, 5%);
  }


  //Specific

  .gen-data {

    .profile-img{
      mask-image: linear-gradient(
        black 90%,
        transparent
      );
    }
    
    .name {
      font-size: 3rem;
    }

    .desc {
      color: $lg-gray;
    }

    .contact{   
      display: flex;
      gap: 10px;
      padding: 0;
      flex-wrap: wrap;

      & > li{


        & > a{
          text-decoration: none;
          color: $light;
          background-color: $lg-gray;
          padding: 5px 15px;        
          border-radius: 5px;
          transition: color .5s ease;

          &:hover{
            background-color: $light;
            color: $main
          }
        }
      }

    }
    
  }

  .skills-technologies{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px;

    .skills{
      width: 100%;


      ul{
        list-style: square;
        padding: 0;
        
      }
   
    }
   
    
  }

}

footer {
  width: 100%;
  background-color: $sec;
  height: 20vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center; 
}


// Punto de quiebre 1

//Interporlación para centrar
$align-direction: "center";

@media screen and (max-width: 900px) {

  .cv{
    padding: 10vh 10%;
    
    .gen-data{
      text-align: #{$align-direction};
  
      .contact{
        justify-content: #{$align-direction};
        
      }
    }

    .skills-technologies{
      flex-direction: column;
    }


  }
 
  
}


// Punto de quiebre 2
@media screen and (max-width: 600px){

  .cv{
    padding: 10vh 5%;

  
    .dates{
      text-align: left;
    }
  }



}