<div class="game-container">
    @for(card of cards; track $index){
      <div class="card" [class.flipped]="card.flipped" (click)="flipCard($index)">
        <div class="card-inner">
          <div class="card-front">
            <img src="meme_img/chivas_logo.png" alt="Chivas logo" width="100px">
          </div>
          <div class="card-back" [style.background]="card.color">
            <img [src]="card.image" alt="image">
            <span>{{ card.number }}</span>
          </div>
        </div>
      </div>
    }
    
  </div>
  
  <div class="attempts">
    <p>Intentos: {{ attempts }}</p>
  </div>
  
  @if(gameWon){
    <!-- Modal -->
    <div class="modal">
        <div class="modal-content">
        <p>¡Eres todo un chivahermano! Has encontrado todos los pares en {{ attempts }} intentos.</p>
        <button (click)="resetGame()">Jugar de nuevo</button>
        </div>
    </div>
  }
  