@import '../../../../styles/.colors.scss';

.users-list{
    background-color: $sec-gray;
    min-height: 60%;
    border-radius: 20px;
    padding: 10px 30px;

    ul {
        list-style: none; 
        padding: 0;

        .selected {
            background-color: $main !important;
        }
    
        li {
            display: block; 
            color: inherit; 
            border-radius: 10px;
            padding: 10px; 
            margin: 12px;
            cursor: pointer;
            
            &:nth-child(odd) {
                background-color: $dark-gray; 
            }
    
            &:nth-child(even) {
                background-color: $sec; 
            }
    
        }
    }
    
    
}